In [1]:
import pandas as pd

loc = pd.read_csv('LocationDimension.csv')
denc = pd.read_csv('denver_crime.csv')
vanc = pd.read_csv('van_crime.csv')
print(loc.head())
print(denc.head())
print(vanc.head())

   locationKey  cityID   cityName           address   latitude   longitude  \
0            0       1  VANCOUVER  9XX TERMINAL AVE  49.269802 -123.083763
1            1       1  VANCOUVER    11XX KEEFER ST  49.279164 -123.081230
2            2       1  VANCOUVER    11XX KEEFER ST  49.279082 -123.081230
3            3       1  VANCOUVER    11XX KEEFER ST  49.279082 -123.080649
4            4       1  VANCOUVER   11XX WILLIAM ST  49.274034 -123.080022

  neighbourhood  population  averageHHIncome  unemploymentRate  povertyRate
0    Strathcona       12585            31534               8.5          0.0
1    Strathcona       12585            31534               8.5          0.0
2    Strathcona       12585            31534               8.5          0.0
3    Strathcona       12585            31534               8.5          0.0
4    Strathcona       12585            31534               8.5          0.0
   INCIDENT_ID         OFFENSE_ID  OFFENSE_CODE  OFFENSE_CODE_EXTENSION  \
0   2016376978   2016376978521300          5213                       0
1  20186000994  20186000994239900          2399                       0
2  20166003953  20166003953230500          2305                       0
3    201872333    201872333239900          2399                       0
4   2017411405   2017411405230300          2303                       0

                OFFENSE_TYPE_ID       OFFENSE_CATEGORY_ID  \
0  weapon-unlawful-discharge-of          all-other-crimes
1                   theft-other                   larceny
2      theft-items-from-vehicle  theft-from-motor-vehicle
3                   theft-other                   larceny
4                theft-shoplift                   larceny

    FIRST_OCCURRENCE_DATE   LAST_OCCURRENCE_DATE          REPORTED_DATE  \
0   6/15/2016 11:31:00 PM                    NaN  6/15/2016 11:31:00 PM
1  10/11/2017 12:30:00 PM  10/11/2017 4:55:00 PM   1/29/2018 5:53:00 PM
2     3/4/2016 8:00:00 PM   4/25/2016 8:00:00 AM   4/26/2016 9:02:00 PM
3    1/30/2018 7:20:00 PM                    NaN  1/30/2018 10:29:00 PM
4    6/22/2017 8:53:00 PM                    NaN   6/23/2017 4:09:00 PM

      INCIDENT_ADDRESS      GEO_X      GEO_Y     GEO_LON    GEO_LAT  \
0                  NaN  3193983.0  1707251.0 -104.809881  39.773188
1                  NaN  3201943.0  1711852.0 -104.781434  39.785649
2  2932 S JOSEPHINE ST  3152762.0  1667011.0 -104.957381  39.663490
3  705 S COLORADO BLVD  3157162.0  1681320.0 -104.941440  39.702698
4       2810 E 1ST AVE  3153211.0  1686545.0 -104.955370  39.717107

   DISTRICT_ID  PRECINCT_ID             NEIGHBORHOOD_ID  IS_CRIME  IS_TRAFFIC
0            5          521                   montbello         1           0
1            5          522  gateway-green-valley-ranch         1           0
2            3          314                   wellshire         1           0
3            3          312                     belcaro         1           0
4            3          311                cherry-creek         1           0
          TYPE  YEAR  MONTH  DAY  HOUR  MINUTE     HUNDRED_BLOCK  \
0  Other Theft  2003      5   12  16.0    15.0  9XX TERMINAL AVE
1  Other Theft  2003      5    7  15.0    20.0  9XX TERMINAL AVE
2  Other Theft  2003      4   23  16.0    40.0  9XX TERMINAL AVE
3  Other Theft  2003      4   20  11.0    15.0  9XX TERMINAL AVE
4  Other Theft  2003      4   12  17.0    45.0  9XX TERMINAL AVE

  NEIGHBOURHOOD         X           Y   Latitude   Longitude
0    Strathcona  493906.5  5457452.47  49.269802 -123.083763
1    Strathcona  493906.5  5457452.47  49.269802 -123.083763
2    Strathcona  493906.5  5457452.47  49.269802 -123.083763
3    Strathcona  493906.5  5457452.47  49.269802 -123.083763
4    Strathcona  493906.5  5457452.47  49.269802 -123.083763

In [2]:
lon = denc['GEO_LON'][5]
lat = denc['GEO_LAT'][5]
add = denc['INCIDENT_ADDRESS'][5]
n = denc['NEIGHBORHOOD_ID'][5]
print(pd.isnull(add))
print(n)
print(round(lon, 6))
print(round(lat, 6))
print(add)
lo = -104.9922913
la = 39.7597336
dloc = loc.loc[(loc['longitude'] == lo) | (loc['latitude'] == la) | (loc['address'] == '2424 DELGANY ST')]

False
city-park-west
-104.961928
39.743149
2100 BLOCK E 17TH AVE

In [3]:
dloc

,locationKey,cityID,cityName,address,latitude,longitude,neighbourhood,population,averageHHIncome,unemploymentRate,povertyRate
143221,143221,2,DENVER,2424 DELGANY ST,39.759734,-104.992291,five-points,16312,63316,0.0,22.233333

In [4]:
print(len(dloc))
i = dloc['locationKey'].iloc[0]
print(i)

1
143221

In [15]:
locKeys = pd.DataFrame(columns=['key'])

for i in range(500):
    dlon = denc['GEO_LON'][i]
    dlat = denc['GEO_LAT'][i]
    dadd = denc['INCIDENT_ADDRESS'][i]
    if pd.isnull(dlon) | pd.isnull(dlat):
        locKeys.loc[i] = -1
        continue
    if pd.isnull(dadd):
        dadd = 'NOT GIVEN'
    dloc = loc.loc[((loc['longitude'] == dlon) | (loc['latitude'] == dlat)) & (loc['address'] == dadd)]
    if len(dloc) == 0:
        dloc = loc.loc[((loc['longitude'] == dlon) & (loc['latitude'] == dlat)) | (loc['address'] == dadd)]
    k = dloc['locationKey'].iloc[0]
    locKeys.loc[i] = k

In [16]:
locKeys['key'].value_counts()

-1         8
 198410    3
 106134    3
 125188    3
 143231    3
          ..
 162459    1
 162460    1
 106141    1
 106142    1
 148017    1
Name: key, Length: 455, dtype: int64

In [22]:
dateDim = pd.read_csv('date_dimension.csv')
print(dateDim.head())
print(denc.head())

   Unnamed: 0  dayOfWeek  dayOfMonth  month  year  isWeekend   timestamp  \
0           0          3           1      1  2003          0  2003-01-01
1           1          4           2      1  2003          0  2003-01-02
2           2          5           3      1  2003          0  2003-01-03
3           3          6           4      1  2003          1  2003-01-04
4           4          7           5      1  2003          1  2003-01-05

   isHolidayCA  isHolidayUS
0            1            1
1            0            0
2            0            0
3            0            0
4            0            0
   INCIDENT_ID         OFFENSE_ID  OFFENSE_CODE  OFFENSE_CODE_EXTENSION  \
0   2016376978   2016376978521300          5213                       0
1  20186000994  20186000994239900          2399                       0
2  20166003953  20166003953230500          2305                       0
3    201872333    201872333239900          2399                       0
4   2017411405   2017411405230300          2303                       0

                OFFENSE_TYPE_ID       OFFENSE_CATEGORY_ID  \
0  weapon-unlawful-discharge-of          all-other-crimes
1                   theft-other                   larceny
2      theft-items-from-vehicle  theft-from-motor-vehicle
3                   theft-other                   larceny
4                theft-shoplift                   larceny

    FIRST_OCCURRENCE_DATE   LAST_OCCURRENCE_DATE          REPORTED_DATE  \
0   6/15/2016 11:31:00 PM                    NaN  6/15/2016 11:31:00 PM
1  10/11/2017 12:30:00 PM  10/11/2017 4:55:00 PM   1/29/2018 5:53:00 PM
2     3/4/2016 8:00:00 PM   4/25/2016 8:00:00 AM   4/26/2016 9:02:00 PM
3    1/30/2018 7:20:00 PM                    NaN  1/30/2018 10:29:00 PM
4    6/22/2017 8:53:00 PM                    NaN   6/23/2017 4:09:00 PM

      INCIDENT_ADDRESS      GEO_X      GEO_Y     GEO_LON    GEO_LAT  \
0                  NaN  3193983.0  1707251.0 -104.809881  39.773188
1                  NaN  3201943.0  1711852.0 -104.781434  39.785649
2  2932 S JOSEPHINE ST  3152762.0  1667011.0 -104.957381  39.663490
3  705 S COLORADO BLVD  3157162.0  1681320.0 -104.941440  39.702698
4       2810 E 1ST AVE  3153211.0  1686545.0 -104.955370  39.717107

   DISTRICT_ID  PRECINCT_ID             NEIGHBORHOOD_ID  IS_CRIME  IS_TRAFFIC
0            5          521                   montbello         1           0
1            5          522  gateway-green-valley-ranch         1           0
2            3          314                   wellshire         1           0
3            3          312                     belcaro         1           0
4            3          311                cherry-creek         1           0